# Mengabaikan file sistem Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Mengabaikan file sistem Android
.gradle/
local.properties
**/android/**/generated/
**/android/app/src/main/res/drawable-*/

.dart_tool/
build/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/ephemeral/